/* ----------------------------------- Special paddings/margins/text */

body {
  font-size: 1.5rem;
  line-height: 1.8;
  font-family: "Open Sans", sans-serif;
  background-color: #fafafa;
  color: #333333;
}

header ul a {
  font-size: 1.3rem;
}

h1 {
  font-size: 3.5rem;
}

label {
    font-size: 1.4rem;
}

footer i {
  padding-top: 5px;
}

/* ----------------------------------- Classes */

.capitalize {
  text-transform: capitalize;
}

.collapsible-body .row {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.contact {
    padding-top: 1rem;
}

.contact .row {
    display: flex;
    align-items: center;
}

.contact .row .s2 {
    display: flex;
}

.input-field .prefix ~ input {
    font-size: 1.2rem;
}

.input-success-message {
    color: #26a69a;
}

.input-error-message {
    color: rgba(238,110,115, 0.8);
}

.collapsible .material-icons {
    display: flex;
    align-self: center;
    max-width: 1.5rem;
}

.page-footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* ----------------------------------- Header */

.sidenav li>a {
    font-size: 1.7rem;
    padding: 2rem 2.5rem;
}

nav .sidenav-trigger i {
    font-size: 2.5rem;
}


/* ----------------------------------- Error section */

.error-container {
  padding: 1rem;
    box-sizing: border-box;
    border: 1px solid rgba(238,110,115, 0.8);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-top: 1rem;
}

/* ----------------------------------- Media Queries */

/* ----------------------------------- Max-width */

/* ----------------------------------- Max-width 340px */

@media (max-width: 768px) {
  p {
    text-align: justify;
  }

