<!DOCTYPE html>
<html lang="en">
  <!-- Head -->

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
      type="text/css"
    />
    <title>Document</title>
  </head>

  <!-- Body -->

  <body>
    <!-- Header -->

    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="{{url_for('home')}}" class="brand-logo">Creative Hub</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"
            ><i class="material-icons">menu</i></a
          >
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('get_creatives')}}">Find Creatives</a></li>
            <li><a href="{{url_for('get_briefs')}}">Find Briefs</a></li>

            <!-- If user is logged in -->
            {% if 'email' in session %}
            <li><a href="{{url_for('user_interface')}}">Profile</a></li>
            <li><a href="{{url_for('logout')}}">Log Out</a></li>
            {% endif %}

            <!-- If user is not logged in -->
            {% if 'email' not in session %}
            <li><a href="{{url_for('user_interface')}}">Log In</a></li>
            <li><a href="{{url_for('register')}}">Create Account</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="mobile-demo">
        <li><a href="{{url_for('home')}}">Home</a></li>
        <li><a href="{{url_for('get_creatives')}}">Find Creatives</a></li>
        <li><a href="{{url_for('get_briefs')}}">Find Briefs</a></li>

        <!-- If user is logged in -->
        {% if 'email' in session %}
        <li><a href="{{url_for('user_interface')}}">Profile</a></li>
        <li><a href="{{url_for('logout')}}">Log Out</a></li>
        {% endif %}

        <!-- If user is not logged in -->
        {% if 'email' not in session %}
        <li><a href="{{url_for('user_interface')}}">Log In</a></li>
        <li><a href="{{url_for('register')}}">Create Account</a></li>
        {% endif %}
      </ul>
    </header>

    <!-- Main -->

    <main>
      <div class="container">
        {% block content %} {% endblock %}
      </div>
    </main>

    <!-- Footer -->

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Creative Hub</h5>
            <p class="grey-text text-lighten-4">
              A service provided by Megapixel Group. A digital full-service
              agency connecting clients with creatives.
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Connect with us</h5>
            <ul>
              <li>
                <a class="grey-text text-lighten-3" href="#!"
                  >Stockholm, Sweden</a
                >
                <i class="material-icons left small">location_on</i>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!">+46 8 189 880</a>
                <i class="material-icons left small">phone</i>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!"
                  >info@megapixelab.se</a
                >
                <i class="material-icons left small">email</i>
              </li>
              <li>
                <a
                  class="grey-text text-lighten-3"
                  href="https://www.megapixelab.se/"
                  target="_blank"
                  >megapixelab.se</a
                >
                <i class="material-icons left small">web</i>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2020
          <a class="grey-text text-lighten-4 right" href="#!">GDPR</a>
        </div>
      </div>
    </footer>

    <!-- Scripts -->

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $(".collapsible").collapsible(),
          $(".sidenav").sidenav(),
          $(".modal").modal();
      });
    </script>
  </body>
</html>
