{% extends 'base.html' %} {% block content %}
<!-- Creative Details -->

<h4>Creative Details</h4>
<div class="row">
  <div class="col s6">
    <i class="material-icons prefix">account_circle</i>
    {{creative.first_name}} {{creative.last_name}}
  </div>
  <div class="col s6">
    <i class="material-icons prefix">location_on</i>
    {{creative.city}} {{creative.country}}
  </div>
  <div class="col s6">
    <i class="material-icons prefix">star</i>
    {{creative.skills}}
  </div>
  <div class="col s6">
    <i class="material-icons prefix">attach_money</i>
    {{creative.hourly_rate}}
  </div>
  <div class="col s12">
    <i class="material-icons prefix">description</i>
    {{creative.description}}
  </div>
</div>

<!-- Contact Form -->

<h4>Contact form</h4>
<div class="row">
  <form onsubmit="return sendMail(this);" class="col s12">
    <div class="row">
      <!-- Name -->

      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input
          id="name"
          name="name"
          type="text"
          class="validate"
          maxlength="50"
          required
        />
        <label for="name">Name</label>
      </div>

      <!-- E-mail -->

      <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
        <input
          id="email"
          name="email"
          type="email"
          class="validate"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          maxlength="30"
          required
        />
        <label for="email">E-mail</label>
      </div>

      <!-- Phone -->

      <div class="input-field col s12">
        <i class="material-icons prefix">phone</i>
        <input
          id="phone"
          name="phone"
          type="tel"
          class="validate"
          maxlength="30"
          required
        />
        <label for="phone">Telephone</label>
      </div>

      <!-- Description -->

      <div class="input-field col s12">
        <i class="material-icons prefix">subject</i>
        <textarea
          id="description"
          name="description"
          class="materialize-textarea"
          minlength="30"
          maxlength="150"
          required
        ></textarea>
        <label for="description">Description</label>
      </div>
    </div>

    <!-- Submit button -->

    <div class="row">
      <button class="btn waves-effect waves-light" type="submit" name="action">
        Send inquiry
        <i class="material-icons right">send</i>
      </button>
      <div id="email-message" class="input-success-message"></div>
    </div>
  </form>
</div>
{% endblock %}
