{% extends 'base.html' %}
{% block content %}
    {% for creative in creatives %} 
        {{creative.first_name}} 
        {{creative.last_name}} 
        {{creative.email}}
        {{creative.phone}} 
        {{creative.city}} 
        {{creative.country}}
        {{creative.skills}}
        {{creative.hourly_rate}}
        {{creative.description}}
    {% endfor %}

    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>
{% endblock %}