{% extends 'base.html' %} {% block content %}

<h2>Creatives ready to create</h2>

<p>Check in our list of creatives to find someone to work with.</p>

<!-- Creative ads -->

<ul class="collapsible" data-collapsible="accordion">
  {% for creative in creatives %}
  <li>
    <div class="row">
      <div class="collapsible-header">
        <i class="material-icons">expand_more</i>
        <i class="material-icons prefix">account_circle</i>
        <span>{{creative.first_name}} {{creative.last_name}}</span>
      </div>
    </div>
    <div class="collapsible-body">
      <div class="row">
        <div class="col s2">
          <i class="material-icons">star</i>
        </div>
        <div class="col s10">
          <span>{{creative.skills}}</span>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col s2">
          <i class="material-icons">attach_money</i>
        </div>
        <div class="col s10">
          <span class="capitalize">{{creative.hourly_rate}}</span>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col s2">
          <i class="material-icons prefix">description</i>
        </div>
        <div class="col s10">
          <span>{{creative.description}}</span>
        </div>
      </div>
      <br />
      <a
        href="{{url_for('contact_creative', creative_id=creative._id)}}"
        class="waves-effect waves-light btn"
        >Contact Creative</a
      >
    </div>
  </li>
  {% endfor %}
</ul>

<div class="divider"></div>
{% endblock %}
