{% extends 'base.html' %} {% block content %}
<!-- Welcome -->

<div class="section row center">
  <h1>{{user.first_name}}, welcome to your user interface</h1>
</div>

<div class="divider"></div>

<!-- Post a brief -->

<div class="section row">
  <div class="row center-align">
    <i class="material-icons large center-align">local_post_office</i>
  </div>
  <p>
    Do you need to hire creatives for your journey ahead? Post a brief to let
    creatives know that you are hiring.
  </p>
  <div class="row center-align">
    <a href="{{url_for('create_brief')}}" class="waves-effect waves-light btn">
      Create brief
      <i class="material-icons right">create</i>
    </a>
  </div>
</div>

<div class="divider"></div>

<!-- Post a creative ad -->

<div class="section row">
  <div class="row center-align">
    <i class="material-icons large center-align">local_post_office</i>
  </div>
  <p>
    Do you want to let potential clients know that you are ready for work? Post
    a creative ad to let them know.
  </p>
  <div class="row center-align">
    <a
      href="{{url_for('create_creative')}}"
      class="waves-effect waves-light btn"
    >
      Create creative ad
      <i class="material-icons right">create</i>
    </a>
  </div>
</div>

<div class="divider"></div>

<!-- My Briefs -->

<h1>Your Briefs</h1>

<ul class="collapsible" data-collapsible="accordion">
  {% for brief in briefs %}
  <li>
    <div class="collapsible-header">
      <div class="col s3">
        <i class="material-icons">expand_more</i>
        <a
          href="{{url_for('delete_brief', brief_id=brief._id)}}"
          class="waves-effect waves-light btn"
          >Delete Brief</a
        >
        <a
          href="{{url_for('edit_brief', brief_id=brief._id)}}"
          class="waves-effect waves-light btn"
          >Edit Brief</a
        >
      </div>
      <div class="col s9">
        {{brief.title}} {{brief.hours}} {{brief.duration}} {{brief.required}}
        {{brief.budget}}
      </div>
    </div>
    <div class="collapsible-body">
      <span>{{brief.description}}</span>
    </div>
  </li>
  {% endfor %}
</ul>

<div class="divider"></div>

<!-- My Creative ads -->

<h1>Your Creative Ads</h1>

<ul class="collapsible" data-collapsible="accordion">
  {% for creative in creatives %}
  <li>
    <div class="collapsible-header">
      <div class="col s3">
        <i class="material-icons">expand_more</i>
        <a
          href="{{url_for('delete_creative', creative_id=creative._id)}}"
          class="waves-effect waves-light btn"
          >Delete Creative</a
        >
        <a
          href="{{url_for('edit_creative', creative_id=creative._id)}}"
          class="waves-effect waves-light btn"
          >Edit Creative</a
        >
      </div>
      <div class="col s9">
        {{creative.skills}} {{creative.hourly_rate}}
      </div>
    </div>
    <div class="collapsible-body">
      <span>{{creative.description}}</span>
    </div>
  </li>
  {% endfor %}
</ul>

<div class="divider"></div>
{% endblock %}
