{% extends 'base.html' %} {% block content %}

<h1>{{session['email']}}</h1>
<h1>{{session.email}}</h1>
<!-- Welcome -->

<div class="section row center">
  <h1>Welcome to your user interface</h1>
</div>

<div class="divider"></div>

<!-- Post a brief -->

<div class="section row">
  <div class="row center-align">
    <i class="material-icons large center-align">local_post_office</i>
  </div>
  <p>
    Do you need to hire creatives for your journey ahead? Post a brief to let
    creatives know that you are hiring.
  </p>
  <div class="row center-align">
    <a href="{{url_for('create_brief')}}" class="waves-effect waves-light btn">
      Create brief
      <i class="material-icons right">create</i>
    </a>
  </div>
</div>

<div class="divider"></div>

<!-- Post a creative -->

<div class="section row">
  <div class="row center-align">
    <i class="material-icons large center-align">local_post_office</i>
  </div>
  <p>
    Do you want to let potential clients know that you are ready for work? Post a creative to let
    them know.
  </p>
  <div class="row center-align">
    <a href="{{url_for('create_creative')}}" class="waves-effect waves-light btn">
      Create creative
      <i class="material-icons right">create</i>
    </a>
  </div>
</div>

<div class="divider"></div>

<!-- Update account details -->

<div class="section row center">
  <h2>Update Account Details</h2>
  <form action="{{ url_for('register_client') }}" method="POST" class="col s12">
    <div class="row">
      <!-- First name -->

      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="first_name" name="first_name" type="text" class="validate" value="{{user.first_name}}"/>
        <label for="first_name">First Name</label>
      </div>

      <!-- Last name -->

      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="last_name" name="last_name" type="text" class="validate" value="{{user.last_name}}"/>
        <label for="last_name">Last Name</label>
      </div>

      <!-- E-mail -->

      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="email" name="email" type="email" class="validate" value="{{user.email}}"/>
        <label for="email">E-mail</label>
      </div>

      <!-- Phone -->

      <div class="input-field col s12">
        <i class="material-icons prefix">phone</i>
        <input id="phone" name="phone" type="tel" class="validate" value="{{user.phone}}"/>
        <label for="phone">Telephone</label>
      </div>

      <!-- City -->

      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="city" name="city" type="text" class="validate" value="{{user.city}}"/>
        <label for="city">City</label>
      </div>

      <!-- Country -->

      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="country" name="country" type="text" class="validate" value="{{user.country}}"/>
        <label for="country">Country</label>
      </div>
    </div>

    <!-- Submit button -->

    <div class="row">
      <button class="btn waves-effect waves-light" type="submit" name="action">
        Update Account
        <i class="material-icons right">send</i>
      </button>
      <a href="" class="waves-effect waves-light btn">Delete Account<i class="material-icons right">delete</i></a>
    </div>
  </form>
</div>

{% endblock %}
