{% extends 'base.html' %} {% block content %}
<!-- Welcome -->

<div class="section row center">
  <h1>{{user.first_name}}, welcome to your user interface</h1>
</div>

<div class="divider"></div>

<!-- Post a brief -->

<div class="section row">
  <div class="row center-align">
    <i class="material-icons large center-align">local_post_office</i>
  </div>
  <p>
    Do you need to hire creatives for your journey ahead? Post a brief to let
    creatives know that you are hiring.
  </p>
  <div class="row center-align">
    <a href="{{url_for('create_brief')}}" class="waves-effect waves-light btn">
      Create brief
      <i class="material-icons right">create</i>
    </a>
  </div>
</div>

<div class="divider"></div>

<!-- Post a creative -->

<div class="section row">
  <div class="row center-align">
    <i class="material-icons large center-align">local_post_office</i>
  </div>
  <p>
    Do you want to let potential clients know that you are ready for work? Post a creative to let
    them know.
  </p>
  <div class="row center-align">
    <a href="{{url_for('create_creative')}}" class="waves-effect waves-light btn">
      Create creative
      <i class="material-icons right">create</i>
    </a>
  </div>
</div>

<div class="divider"></div>

<!-- My Briefs -->

<h1>Your Briefs</h1>

<ul class="collapsible" data-collapsible="accordion">
  {% for brief in briefs %}
  <li>
    <div class="collapsible-header">
      <div class="col s3">
        <i class="material-icons">expand_more</i>
        <a href="{{url_for('delete_brief', brief_id=brief._id)}}" class="waves-effect waves-light btn">Delete Brief</a>
        <a href="{{url_for('edit_brief', brief_id=brief._id)}}" class="waves-effect waves-light btn">Edit Brief</a>
      </div>
      <div class="col s9">
        {{brief.title}} {{brief.hours}} {{brief.duration}} {{brief.required}}
        {{brief.budget}}
      </div>
    </div>
    <div class="collapsible-body">
      <span>{{brief.description}}</span>
    </div>
  </li>
  {% endfor %}
</ul>

<div class="divider"></div>

<!-- My Creatives -->

<h1>Your Creatives</h1>

<ul class="collapsible" data-collapsible="accordion">
  {% for creative in creatives %}
  <li>
    <div class="collapsible-header">
      <div class="col s3">
        <i class="material-icons">expand_more</i>
        <a href="{{url_for('delete_creative', creative_id=creative._id)}}" class="waves-effect waves-light btn">Delete Creative</a>
        <a href="{{url_for('edit_creative', creative_id=creative._id)}}" class="waves-effect waves-light btn">Edit Creative</a>
      </div>
      <div class="col s9">
        {{creative.skills}} {{creative.hourly_rate}}
      </div>
    </div>
    <div class="collapsible-body">
      <span>{{creative.description}}</span>
    </div>
  </li>
  {% endfor %}
</ul>

<div class="divider"></div>
{% endblock %}
<!-- My Account -->
<!--
<h1>Your Account</h1>

<ul>
  <li>
    <div>
      <div>
        <i class="material-icons">account_circle</i>
        {{user.first_name}} {{user.last_name}}
      </div>
      <div class="col s9">
        <a href="" class="waves-effect waves-light btn">Delete user</a>
        <a href="" class="waves-effect waves-light btn">Edit user</a>
      </div>
    </div>
  </li>
</ul>

<div class="divider"></div>

<div class="section row center">
  <h2>Update Account Details</h2>
  <form action="{{ url_for('update_user') }}" method="POST" class="col s12">
    <div class="row">
-->
      <!-- First name -->
<!--
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="first_name" name="first_name" type="text" class="validate" value="{{user.first_name}}"/>
        <label for="first_name">First Name</label>
      </div>
-->
      <!-- Last name -->
<!--
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="last_name" name="last_name" type="text" class="validate" value="{{user.last_name}}"/>
        <label for="last_name">Last Name</label>
      </div>
-->
      <!-- Phone -->
<!--
      <div class="input-field col s12">
        <i class="material-icons prefix">phone</i>
        <input id="phone" name="phone" type="tel" class="validate" value="{{user.phone}}"/>
        <label for="phone">Telephone</label>
      </div>
-->
      <!-- City -->
<!--
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="city" name="city" type="text" class="validate" value="{{user.city}}"/>
        <label for="city">City</label>
      </div>
-->
      <!-- Country -->
<!--
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="country" name="country" type="text" class="validate" value="{{user.country}}"/>
        <label for="country">Country</label>
      </div>
    </div>
-->
    <!-- Submit button -->
<!--
    <div class="row">
      <button class="btn waves-effect waves-light" type="submit" name="action">
        Update Account
        <i class="material-icons right">send</i>
      </button>
      <a href="" class="waves-effect waves-light btn">Delete Account<i class="material-icons right">delete</i></a>
    </div>
  </form>
</div>
-->

